.header__lang-link {
  display: block;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  text-decoration: none;
}

.header__lang-link:hover {
  opacity: 80%;
  background-blend-mode: normal;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
