.place__title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  color: #fff;
  letter-spacing: 1.03px;
  align-self: flex-end;
  justify-self: flex-start;
}

@media screen and (max-width: 1023px) {
  .place__title {
    font-size: 40px;
    line-height: 1.1;
    max-width: 320px;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    margin: 0 auto;
    padding: 0;
    width: 288px;
    font-size: 32px;
    line-height: 1.09;
  }
}
