.photo-grid {
  margin: 0;
  padding: 92px 0 0;
  display: grid;
  grid-template-columns: repeat(4, 284px);
  grid-template-rows: repeat(3, 213px);
  gap: 16px;
  min-width: 1184px;
  justify-content: center;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
    min-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    padding: 88px 0 0;
    grid-template-columns: repeat(2, 352px);
    grid-template-rows: repeat(6, 1fr);
    gap: 16px;
    box-sizing: border-box;
    min-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    padding: 64px 0 0;
    grid-template-columns: 288px;
    grid-template-rows: repeat(12, 1fr);
    column-gap: 0;
    row-gap: 12px;
    box-sizing: border-box;
    min-width: 288px;
  }
}
