.photo-grid {
  margin: 0 auto;
  padding: 92px 0 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  /* min-width: 92.5%; */
  min-width: 1184px;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
    /* width: 90.6%; */
    min-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    padding: 88px 0 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 16px;
    box-sizing: border-box;
    /* width: 93.63%; */
    min-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    padding: 64px 0 0;
    grid-template-columns: auto;
    grid-template-rows: repeat(12, 1fr);
    row-gap: 12px;
    box-sizing: border-box;
    /* width: 90%; */
    min-width: 288px;
  }
}
