.intro__list {
  /* max-width: 70.12%; */
  max-width: 690px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 1.5;
  color: #FFFFFF;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .intro__list {
    max-width: 288px;
  }
}
