.lead {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

@media screen and (max-width: 1279px) {
  .lead {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    max-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .lead {
    max-width: 320px;
  }
}
