.cover__subtitle {
  margin: 0 auto;
  padding: 32px 0 0;
  max-width: 360px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    padding: 16px 0 0;
    font-size: 14px;
    line-height: 1.14;
  }
}
