.header__logo {
  background-image: url(../../../images/__logo_176.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  min-width: 176px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .header__logo {
    min-width: 142px;
  }
}
