.header {
  max-width: 1184px;
  width: 92.5%;
  margin: 0;
  padding: 28px 0 56px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  box-sizing: content-box;
  min-height: 52px;
}

@media screen and (max-width: 1279px) {
  .header {
    width: 90.625%;
    padding: 28px 0 48px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    width: 93.75%;
  }
}

@media screen and (max-width: 767px) {
  .header {
    width: 90%;
    padding: 16px 0 48px;
    min-height: 52px;
  }
}
