.footer__link {
    margin: 0;
    padding: 0 18px 0 0;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: #fff;
    text-decoration: none;
}

.footer__link:last-of-type {
    padding: 0;
}

 .footer__link:hover {
   opacity: 0.8;
 }

@media screen and (max-width: 1279px) {}

@media screen and (max-width: 1023px) {}

@media screen and (max-width: 767px) {
  .footer__link {
    padding: 0 0 32px 0;
  }
}
