.lead__title {
  margin: 0 auto;
  padding: 0 0 32px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #fff;
  max-width: 720px;
}

@media screen and (max-width: 767px) {
  .lead__title {
    padding: 0 0 16px;
    font-size: 40px;
    line-height: 44px;
    max-width: 288px;
  }
}
