.place__paragraph {
  margin: 0;
  padding: 0 0 26px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  align-self: start;
}

.place__paragraph:last-of-type {
  padding: 0;
}
