.lead__image {
  background-image: url(../../../images/kalegin-michail-179870-unsplash_1280.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  padding: 0 ;
}
