.intro__text {
  max-width: 690px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.63;
  color: #fff;
  margin: 0;
  padding: 0 0 33px;
}

@media screen and (max-width: 767px) {
  .intro__text {
    max-width: 288px;
  }
}
