.intro {
  display: block;
  flex-direction: column;
  justify-content: center;
  justify-items: start;
  align-content: flex-start;
  align-items: start;
  flex-wrap: nowrap;
  max-width: 984px;
  padding: 92px 0 0;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    max-width: 720px;
    padding: 88px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    max-width: 290px;
    padding: 64px 0 0;
  }
}
