.lead__subtitle {
  margin: 0;
  padding: 0 0 64px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  max-width: 640px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

@media screen and (max-width: 1279px) {
  .lead__subtitle {
    padding: 0 0 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    padding: 0 0 40px;
    font-size: 16px;
    line-height: 20px;
    max-width: 288px;
  }
}
