.cover {
  position: relative;
  min-width: 1184px;
  min-height: 740px;
  box-sizing: border-box;
  margin: 0;
  padding: 92px 0 0;
}

@media screen and (max-width: 1279px) {
  .cover {
    min-width: 1024px;
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    min-width: 768px;
    min-height: 480px;
    padding: 90px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    min-width: 320px;
    min-height: 200px;
    padding: 65px 0 0;
  }
}
