.place__link {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  color: #fff;
}

.place__link:hover {
  opacity: 0.8;
}
