.cover__background {
  background-image: url(../../../images/__background.jpg);

  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 1184px;
  min-height: 740px;
  box-sizing: content-box;
  border: 0;
  z-index: -1;
background-color: transparent;

  background-position: center center;
  opacity: 0.8;


  grid-column: 1/2;
  grid-row: 1/2;

  /* border: 1px solid red; */
}
