.place__website {
  margin: 0;
  padding: 0;
  align-self: flex-end;
  justify-self: flex-start;
}

@media screen and (max-width: 767px) {
  .place__website {
    padding: 0 16px;
    align-self: flex-start;
  }
}
