.intro__title {
  /* max-width: 70.12%; */
  max-width: 690px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  color: #fff;
  margin: 0;
  padding: 0 0 40px;
}
@media screen and (max-width: 767px) {
  .intro__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 1.09;
  }
}
